

.container{
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin:10px;
    background-color: aliceblue;
    box-shadow: 2px 2px 3px 0px rgba(243, 253, 248, 0.8);
    width:570px;
    border-radius: 4px;
    
  }
  .question{
    background-color: rgb(102, 192, 248);
    border-radius: 5px;
    border:none;
    padding: 15px;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.8);
    margin: 10px;
  }
  .flex{
    display: flex;
    justify-content: space-around;
    gap:10px;
    padding: 5px 0px ;
  
  }
 
  /* .option:active,option:focus {
    background-color: darkgreen;
  } */
  .option,.correct,button{
    background-color: white;
    color:rgb(117, 161, 249);
    box-shadow: 2px 2px 3px 0px rgb(160, 152, 152);
    border-radius: 5px;
    padding:16px 20px;
    border: none;
    font-weight: bold;
  }

  .correct{
    background-color: darkgreen;
    box-shadow: 2px 2px 3px 0px black;
    color: white;
    font-weight: bold;


    
  }
  h4{color:black}
  .incorrect{
    background-color: red;
    animation: shake 0.3s;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    animation-iteration-count:1;
  }
  h2{
  /* color: rgb(102, 192, 248); */
  font-weight: bold;

  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }